.feature {
  padding-bottom: 130px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 170px;
    padding: 0 30px;
  }
  &-list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px 0px;
  }
  &-item {
    display: flex;
    align-items: center;
  }
  &-item:nth-child(-n + 3) {
    margin-bottom: 21px;
  }
  &-item-text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(30 / 14);
  }
}
