.footer {
  margin-bottom: 100px;
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0 126px;
  }
  &-text {
    max-width: 340px;
  }
  &-links {
    list-style-type: none;
    padding-inline-start: 0px;
    //margin: 0px 0px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 0 10px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-link {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(30 / 16);
    color: #4f5665;
    text-decoration: none;
  }
}
.copy-right {
  color: #afb5c0;
}
