.header {
    margin-top: 50px;
    padding-bottom: 90px;
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-auth {
        display: flex;
        align-items: center;
        gap: 0 30px;
        text-transform: capitalize;
    }
    &-signin {
        font-weight: 600;
        color: $heading-color;
        text-decoration: none;
    }
    &-signup {
        font-weight: 600;
        padding: 13px 45px;
        color: $primary-color;
        border: 1px solid;
        border-radius: 100rem;
        text-decoration: none;
    }
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0 40px;
    &-link{
        color: inherit;
        text-decoration: none;
    }
}