.hero {
  padding-bottom: 100px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
    position: relative;
  }

  &-content {
    width: 100%;
    max-width: 555px;
  }

  &-images {
    flex-shrink: 0;
  }
  &-heading {
    font-weight: 500;
    font-size: 50px;
    color: $heading-color;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
  }
  &-desc {
    font-size: 16px;
    margin-bottom: 50px;
    line-height: calc(30 / 16);
  }
}

.hero-images {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
}
