.network {
  margin-bottom: 65px;
  &-header {
    text-align: center;
    margin: 0 auto 180px;
    max-width: 555px;
  }
  &-header-heading {
    padding: 0 80px;
  }
  &-images {
    text-align: center;
  }
}
